/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src\\app\\layout.tsx","import":"","arguments":[{"src":"./fonts/GeistVF.woff","variable":"--font-geist-sans","weight":"100 900"}],"variableName":"geistSans"} ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'geistSans';
src: url(/_next/static/media/4473ecc91f70f139-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: 'geistSans Fallback';src: local("Arial");ascent-override: 85.83%;descent-override: 20.52%;line-gap-override: 9.33%;size-adjust: 107.19%
}.__className_1e4310 {font-family: 'geistSans', 'geistSans Fallback'
}.__variable_1e4310 {--font-geist-sans: 'geistSans', 'geistSans Fallback'
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src\\app\\layout.tsx","import":"","arguments":[{"src":"./fonts/GeistMonoVF.woff","variable":"--font-geist-mono","weight":"100 900"}],"variableName":"geistMono"} ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'geistMono';
src: url(/_next/static/media/463dafcda517f24f-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: 'geistMono Fallback';src: local("Arial");ascent-override: 69.97%;descent-override: 16.73%;line-gap-override: 7.61%;size-adjust: 131.49%
}.__className_c3aa02 {font-family: 'geistMono', 'geistMono Fallback'
}.__variable_c3aa02 {--font-geist-mono: 'geistMono', 'geistMono Fallback'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  inset: 0px;
}
.bottom-\[70px\] {
  bottom: 70px;
}
.left-0 {
  left: 0px;
}
.left-1\/2 {
  left: 50%;
}
.left-2 {
  left: 0.5rem;
}
.left-\[100px\] {
  left: 100px;
}
.left-\[101px\] {
  left: 101px;
}
.left-\[10px\] {
  left: 10px;
}
.left-\[130px\] {
  left: 130px;
}
.left-\[150px\] {
  left: 150px;
}
.left-\[158px\] {
  left: 158px;
}
.left-\[176px\] {
  left: 176px;
}
.left-\[193px\] {
  left: 193px;
}
.left-\[195px\] {
  left: 195px;
}
.left-\[1px\] {
  left: 1px;
}
.left-\[200px\] {
  left: 200px;
}
.left-\[209px\] {
  left: 209px;
}
.left-\[20px\] {
  left: 20px;
}
.left-\[21px\] {
  left: 21px;
}
.left-\[265px\] {
  left: 265px;
}
.left-\[38px\] {
  left: 38px;
}
.left-\[500px\] {
  left: 500px;
}
.left-\[832px\] {
  left: 832px;
}
.right-0 {
  right: 0px;
}
.right-2 {
  right: 0.5rem;
}
.top-0 {
  top: 0px;
}
.top-1\/2 {
  top: 50%;
}
.top-2 {
  top: 0.5rem;
}
.top-\[1000px\] {
  top: 1000px;
}
.top-\[100px\] {
  top: 100px;
}
.top-\[10px\] {
  top: 10px;
}
.top-\[136px\] {
  top: 136px;
}
.top-\[1470px\] {
  top: 1470px;
}
.top-\[180px\] {
  top: 180px;
}
.top-\[190px\] {
  top: 190px;
}
.top-\[20\.5px\] {
  top: 20.5px;
}
.top-\[200px\] {
  top: 200px;
}
.top-\[2px\] {
  top: 2px;
}
.top-\[300px\] {
  top: 300px;
}
.top-\[3200px\] {
  top: 3200px;
}
.top-\[3300px\] {
  top: 3300px;
}
.top-\[3810px\] {
  top: 3810px;
}
.top-\[434px\] {
  top: 434px;
}
.top-\[4400px\] {
  top: 4400px;
}
.top-\[500px\] {
  top: 500px;
}
.top-\[5100px\] {
  top: 5100px;
}
.top-\[600px\] {
  top: 600px;
}
.top-\[800px\] {
  top: 800px;
}
.top-\[850px\] {
  top: 850px;
}
.top-\[900px\] {
  top: 900px;
}
.top-\[91px\] {
  top: 91px;
}
.top-\[980px\] {
  top: 980px;
}
.left-\[50px\] {
  left: 50px;
}
.top-\[50px\] {
  top: 50px;
}
.bottom-\[10px\] {
  bottom: 10px;
}
.bottom-\[20px\] {
  bottom: 20px;
}
.left-\[120px\] {
  left: 120px;
}
.left-\[50\%\] {
  left: 50%;
}
.right-4 {
  right: 1rem;
}
.top-4 {
  top: 1rem;
}
.z-10 {
  z-index: 10;
}
.z-50 {
  z-index: 50;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-\[20px\] {
  margin-bottom: 20px;
}
.mb-\[30px\] {
  margin-bottom: 30px;
}
.mb-\[50px\] {
  margin-bottom: 50px;
}
.mb-\[5px\] {
  margin-bottom: 5px;
}
.mb-\[8px\] {
  margin-bottom: 8px;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-\[50px\] {
  margin-left: 50px;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-\[-130px\] {
  margin-top: -130px;
}
.mt-\[-30px\] {
  margin-top: -30px;
}
.mt-\[20px\] {
  margin-top: 20px;
}
.mt-\[6px\] {
  margin-top: 6px;
}
.mt-\[136px\] {
  margin-top: 136px;
}
.mt-\[10px\] {
  margin-top: 10px;
}
.mb-\[60px\] {
  margin-bottom: 60px;
}
.mt-12 {
  margin-top: 3rem;
}
.mt-\[50px\] {
  margin-top: 50px;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-12 {
  height: 3rem;
}
.h-4 {
  height: 1rem;
}
.h-5 {
  height: 1.25rem;
}
.h-56 {
  height: 14rem;
}
.h-6 {
  height: 1.5rem;
}
.h-72 {
  height: 18rem;
}
.h-\[10px\] {
  height: 10px;
}
.h-\[12px\] {
  height: 12px;
}
.h-\[160px\] {
  height: 160px;
}
.h-\[16px\] {
  height: 16px;
}
.h-\[1778px\] {
  height: 1778px;
}
.h-\[188px\] {
  height: 188px;
}
.h-\[223px\] {
  height: 223px;
}
.h-\[22px\] {
  height: 22px;
}
.h-\[230px\] {
  height: 230px;
}
.h-\[242px\] {
  height: 242px;
}
.h-\[24px\] {
  height: 24px;
}
.h-\[25px\] {
  height: 25px;
}
.h-\[271px\] {
  height: 271px;
}
.h-\[2px\] {
  height: 2px;
}
.h-\[30px\] {
  height: 30px;
}
.h-\[32px\] {
  height: 32px;
}
.h-\[400px\] {
  height: 400px;
}
.h-\[40px\] {
  height: 40px;
}
.h-\[427px\] {
  height: 427px;
}
.h-\[432px\] {
  height: 432px;
}
.h-\[44px\] {
  height: 44px;
}
.h-\[46px\] {
  height: 46px;
}
.h-\[48px\] {
  height: 48px;
}
.h-\[500px\] {
  height: 500px;
}
.h-\[50px\] {
  height: 50px;
}
.h-\[52px\] {
  height: 52px;
}
.h-\[532px\] {
  height: 532px;
}
.h-\[54px\] {
  height: 54px;
}
.h-\[58px\] {
  height: 58px;
}
.h-\[599px\] {
  height: 599px;
}
.h-\[615px\] {
  height: 615px;
}
.h-\[62px\] {
  height: 62px;
}
.h-\[636px\] {
  height: 636px;
}
.h-\[640px\] {
  height: 640px;
}
.h-\[709px\] {
  height: 709px;
}
.h-\[711px\] {
  height: 711px;
}
.h-\[716px\] {
  height: 716px;
}
.h-\[72px\] {
  height: 72px;
}
.h-\[74px\] {
  height: 74px;
}
.h-\[91px\] {
  height: 91px;
}
.h-\[92px\] {
  height: 92px;
}
.h-\[98px\] {
  height: 98px;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.h-\[190px\] {
  height: 190px;
}
.h-\[20px\] {
  height: 20px;
}
.w-4 {
  width: 1rem;
}
.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-\[1033px\] {
  width: 1033px;
}
.w-\[1036px\] {
  width: 1036px;
}
.w-\[1040px\] {
  width: 1040px;
}
.w-\[1049px\] {
  width: 1049px;
}
.w-\[104px\] {
  width: 104px;
}
.w-\[1050px\] {
  width: 1050px;
}
.w-\[1051px\] {
  width: 1051px;
}
.w-\[1088px\] {
  width: 1088px;
}
.w-\[1124px\] {
  width: 1124px;
}
.w-\[1155px\] {
  width: 1155px;
}
.w-\[119px\] {
  width: 119px;
}
.w-\[12px\] {
  width: 12px;
}
.w-\[132px\] {
  width: 132px;
}
.w-\[136px\] {
  width: 136px;
}
.w-\[140px\] {
  width: 140px;
}
.w-\[141px\] {
  width: 141px;
}
.w-\[1439px\] {
  width: 1439px;
}
.w-\[1440px\] {
  width: 1440px;
}
.w-\[154px\] {
  width: 154px;
}
.w-\[166px\] {
  width: 166px;
}
.w-\[177px\] {
  width: 177px;
}
.w-\[184px\] {
  width: 184px;
}
.w-\[195px\] {
  width: 195px;
}
.w-\[200px\] {
  width: 200px;
}
.w-\[221px\] {
  width: 221px;
}
.w-\[238px\] {
  width: 238px;
}
.w-\[239px\] {
  width: 239px;
}
.w-\[240px\] {
  width: 240px;
}
.w-\[24px\] {
  width: 24px;
}
.w-\[252px\] {
  width: 252px;
}
.w-\[295px\] {
  width: 295px;
}
.w-\[313px\] {
  width: 313px;
}
.w-\[324px\] {
  width: 324px;
}
.w-\[332px\] {
  width: 332px;
}
.w-\[341px\] {
  width: 341px;
}
.w-\[347px\] {
  width: 347px;
}
.w-\[350px\] {
  width: 350px;
}
.w-\[361px\] {
  width: 361px;
}
.w-\[438px\] {
  width: 438px;
}
.w-\[509px\] {
  width: 509px;
}
.w-\[510px\] {
  width: 510px;
}
.w-\[540px\] {
  width: 540px;
}
.w-\[570px\] {
  width: 570px;
}
.w-\[77px\] {
  width: 77px;
}
.w-\[82\.2px\] {
  width: 82.2px;
}
.w-\[94px\] {
  width: 94px;
}
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.w-\[100\%\] {
  width: 100%;
}
.w-\[180px\] {
  width: 180px;
}
.w-\[82px\] {
  width: 82px;
}
.w-\[48\%\] {
  width: 48%;
}
.w-44 {
  width: 11rem;
}
.w-\[160px\] {
  width: 160px;
}
.w-\[20px\] {
  width: 20px;
}
.max-w-6xl {
  max-width: 72rem;
}
.max-w-\[1050px\] {
  max-width: 1050px;
}
.max-w-\[1440px\] {
  max-width: 1440px;
}
.max-w-\[500px\] {
  max-width: 500px;
}
.max-w-\[600px\] {
  max-width: 600px;
}
.max-w-lg {
  max-width: 32rem;
}
.max-w-screen-xl {
  max-width: 1280px;
}
.max-w-\[90\%\] {
  max-width: 90%;
}
.max-w-\[1200px\] {
  max-width: 1200px;
}
.max-w-\[1049px\] {
  max-width: 1049px;
}
.max-w-\[1088px\] {
  max-width: 1088px;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.grow {
  flex-grow: 1;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-12 {
  gap: 3rem;
}
.gap-16 {
  gap: 4rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-2\.5 {
  gap: 0.625rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-\[1000px\] {
  gap: 1000px;
}
.gap-\[10px\] {
  gap: 10px;
}
.gap-\[15px\] {
  gap: 15px;
}
.gap-\[20px\] {
  gap: 20px;
}
.gap-\[24px\] {
  gap: 24px;
}
.gap-\[30px\] {
  gap: 30px;
}
.gap-\[34px\] {
  gap: 34px;
}
.gap-\[35px\] {
  gap: 35px;
}
.gap-\[40px\] {
  gap: 40px;
}
.gap-\[48px\] {
  gap: 48px;
}
.gap-\[5px\] {
  gap: 5px;
}
.gap-\[80px\] {
  gap: 80px;
}
.gap-3 {
  gap: 0.75rem;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.overflow-hidden {
  overflow: hidden;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-\[5px\] {
  border-radius: 5px;
}
.rounded-\[6\.73px\] {
  border-radius: 6.73px;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-l-md {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
.rounded-r-lg {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.rounded-r-md {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.rounded-l-lg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.border {
  border-width: 1px;
}
.border-\[1\.35px\] {
  border-width: 1.35px;
}
.border-t {
  border-top-width: 1px;
}
.border-\[\#2DC071\] {
  --tw-border-opacity: 1;
  border-color: rgb(45 192 113 / var(--tw-border-opacity, 1));
}
.border-\[\#BDBDBD\] {
  --tw-border-opacity: 1;
  border-color: rgb(189 189 189 / var(--tw-border-opacity, 1));
}
.border-\[\#DDDDDD\] {
  --tw-border-opacity: 1;
  border-color: rgb(221 221 221 / var(--tw-border-opacity, 1));
}
.border-\[\#ECECEC\] {
  --tw-border-opacity: 1;
  border-color: rgb(236 236 236 / var(--tw-border-opacity, 1));
}
.border-\[\#d5d5d5\] {
  --tw-border-opacity: 1;
  border-color: rgb(213 213 213 / var(--tw-border-opacity, 1));
}
.border-\[\#e6e6e6\] {
  --tw-border-opacity: 1;
  border-color: rgb(230 230 230 / var(--tw-border-opacity, 1));
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}
.bg-\[\#1D4ED8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}
.bg-\[\#23856D\] {
  --tw-bg-opacity: 1;
  background-color: rgb(35 133 109 / var(--tw-bg-opacity, 1));
}
.bg-\[\#23A6F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(35 166 240 / var(--tw-bg-opacity, 1));
}
.bg-\[\#23a6f0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(35 166 240 / var(--tw-bg-opacity, 1));
}
.bg-\[\#252B42\] {
  --tw-bg-opacity: 1;
  background-color: rgb(37 43 66 / var(--tw-bg-opacity, 1));
}
.bg-\[\#2A7CC7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(42 124 199 / var(--tw-bg-opacity, 1));
}
.bg-\[\#2DC071\] {
  --tw-bg-opacity: 1;
  background-color: rgb(45 192 113 / var(--tw-bg-opacity, 1));
}
.bg-\[\#F3F3F3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 243 243 / var(--tw-bg-opacity, 1));
}
.bg-\[\#FAFAFA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
}
.bg-\[\#f5f5f5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}
.bg-\[\#f8f8f8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity, 1));
}
.bg-\[\#ffffff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}
.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}
.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}
.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}
.bg-orange-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 115 22 / var(--tw-bg-opacity, 1));
}
.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.bg-\[\#F5F5F5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}
.bg-cover {
  background-size: cover;
}
.object-contain {
  object-fit: contain;
}
.object-cover {
  object-fit: cover;
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-\[10px\] {
  padding: 10px;
}
.p-\[15px\] {
  padding: 15px;
}
.p-\[40px\] {
  padding: 40px;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-\[1px\] {
  padding-left: 1px;
  padding-right: 1px;
}
.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}
.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px;
}
.px-\[25px\] {
  padding-left: 25px;
  padding-right: 25px;
}
.px-\[3px\] {
  padding-left: 3px;
  padding-right: 3px;
}
.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}
.px-\[48px\] {
  padding-left: 48px;
  padding-right: 48px;
}
.px-\[50px\] {
  padding-left: 50px;
  padding-right: 50px;
}
.px-\[54px\] {
  padding-left: 54px;
  padding-right: 54px;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-\[112px\] {
  padding-top: 112px;
  padding-bottom: 112px;
}
.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}
.py-\[24px\] {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-\[25px\] {
  padding-top: 25px;
  padding-bottom: 25px;
}
.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-\[48px\] {
  padding-top: 48px;
  padding-bottom: 48px;
}
.py-\[5px\] {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-\[80px\] {
  padding-top: 80px;
  padding-bottom: 80px;
}
.px-\[38px\] {
  padding-left: 38px;
  padding-right: 38px;
}
.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}
.px-\[36px\] {
  padding-left: 36px;
  padding-right: 36px;
}
.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}
.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}
.pb-\[48px\] {
  padding-bottom: 48px;
}
.pt-\[60px\] {
  padding-top: 60px;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.text-center {
  text-align: center;
}
.font-Montserrat {
  font-family: montserrat, sans-serif;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-\[12px\] {
  font-size: 12px;
}
.text-\[14px\] {
  font-size: 14px;
}
.text-\[16px\] {
  font-size: 16px;
}
.text-\[20px\] {
  font-size: 20px;
}
.text-\[24px\] {
  font-size: 24px;
}
.text-\[30px\] {
  font-size: 30px;
}
.text-\[58px\] {
  font-size: 58px;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-\[18px\] {
  font-size: 18px;
}
.text-\[48px\] {
  font-size: 48px;
}
.text-\[28px\] {
  font-size: 28px;
}
.text-\[32px\] {
  font-size: 32px;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-medium {
  font-weight: 500;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.leading-\[20px\] {
  line-height: 20px;
}
.leading-\[22px\] {
  line-height: 22px;
}
.leading-\[24px\] {
  line-height: 24px;
}
.leading-\[28px\] {
  line-height: 28px;
}
.leading-\[30px\] {
  line-height: 30px;
}
.leading-\[32px\] {
  line-height: 32px;
}
.leading-\[50px\] {
  line-height: 50px;
}
.leading-\[80px\] {
  line-height: 80px;
}
.leading-loose {
  line-height: 2;
}
.leading-\[60px\] {
  line-height: 60px;
}
.leading-tight {
  line-height: 1.25;
}
.leading-\[40px\] {
  line-height: 40px;
}
.tracking-\[0\.1px\] {
  letter-spacing: 0.1px;
}
.tracking-\[0\.2px\] {
  letter-spacing: 0.2px;
}
.tracking-tight {
  letter-spacing: -0.025em;
}
.text-\[\#1D4ED8\] {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity, 1));
}
.text-\[\#23856D\] {
  --tw-text-opacity: 1;
  color: rgb(35 133 109 / var(--tw-text-opacity, 1));
}
.text-\[\#23A6F0\] {
  --tw-text-opacity: 1;
  color: rgb(35 166 240 / var(--tw-text-opacity, 1));
}
.text-\[\#252B42\] {
  --tw-text-opacity: 1;
  color: rgb(37 43 66 / var(--tw-text-opacity, 1));
}
.text-\[\#252b42\] {
  --tw-text-opacity: 1;
  color: rgb(37 43 66 / var(--tw-text-opacity, 1));
}
.text-\[\#2DC071\] {
  --tw-text-opacity: 1;
  color: rgb(45 192 113 / var(--tw-text-opacity, 1));
}
.text-\[\#727272\] {
  --tw-text-opacity: 1;
  color: rgb(114 114 114 / var(--tw-text-opacity, 1));
}
.text-\[\#737373\] {
  --tw-text-opacity: 1;
  color: rgb(115 115 115 / var(--tw-text-opacity, 1));
}
.text-\[\#BDBDBD\] {
  --tw-text-opacity: 1;
  color: rgb(189 189 189 / var(--tw-text-opacity, 1));
}
.text-\[\#FFFFFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1));
}
.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}
.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.text-yellow-400 {
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity, 1));
}
.line-through {
  text-decoration-line: line-through;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.placeholder-\[\#727272\]::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(114 114 114 / var(--tw-placeholder-opacity, 1));
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hover\:bg-blue-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#1b88d4\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(27 136 212 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#1a9f56\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(26 159 86 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#28a24e\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(40 162 78 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#f1f1f1\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 241 241 / var(--tw-bg-opacity, 1));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:ring-2:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.hover\:ring-blue-500:hover {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity, 1));
}

@media (min-width: 640px) {

  .sm\:mb-\[50px\] {
    margin-bottom: 50px;
  }

  .sm\:mt-4 {
    margin-top: 1rem;
  }

  .sm\:w-\[90\%\] {
    width: 90%;
  }

  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:text-\[14px\] {
    font-size: 14px;
  }

  .sm\:text-\[16px\] {
    font-size: 16px;
  }

  .sm\:text-\[18px\] {
    font-size: 18px;
  }

  .sm\:text-\[30px\] {
    font-size: 30px;
  }
}

@media (min-width: 768px) {

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-\[24\%\] {
    width: 24%;
  }

  .md\:w-\[48\%\] {
    width: 48%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px) {

  .lg\:absolute {
    position: absolute;
  }

  .lg\:relative {
    position: relative;
  }

  .lg\:left-\[-1px\] {
    left: -1px;
  }

  .lg\:left-\[1px\] {
    left: 1px;
  }

  .lg\:top-\[0px\] {
    top: 0px;
  }

  .lg\:top-\[10px\] {
    top: 10px;
  }

  .lg\:top-\[70px\] {
    top: 70px;
  }

  .lg\:top-0 {
    top: 0px;
  }

  .lg\:left-\[100px\] {
    left: 100px;
  }

  .lg\:top-\[100px\] {
    top: 100px;
  }

  .lg\:ml-\[0px\] {
    margin-left: 0px;
  }

  .lg\:ml-\[60px\] {
    margin-left: 60px;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-\[15px\] {
    margin-top: 15px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[321px\] {
    height: 321px;
  }

  .lg\:h-\[58px\] {
    height: 58px;
  }

  .lg\:h-\[682px\] {
    height: 682px;
  }

  .lg\:h-\[62px\] {
    height: 62px;
  }

  .lg\:w-\[1044px\] {
    width: 1044px;
  }

  .lg\:w-\[1437px\] {
    width: 1437px;
  }

  .lg\:w-\[149px\] {
    width: 149px;
  }

  .lg\:w-\[156px\] {
    width: 156px;
  }

  .lg\:w-\[323px\] {
    width: 323px;
  }

  .lg\:w-\[375px\] {
    width: 375px;
  }

  .lg\:w-\[376px\] {
    width: 376px;
  }

  .lg\:w-\[573px\] {
    width: 573px;
  }

  .lg\:w-\[599px\] {
    width: 599px;
  }

  .lg\:w-\[65\%\] {
    width: 65%;
  }

  .lg\:w-\[707px\] {
    width: 707px;
  }

  .lg\:w-auto {
    width: auto;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-\[221px\] {
    width: 221px;
  }

  .lg\:w-\[50\%\] {
    width: 50%;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:w-\[1124px\] {
    width: 1124px;
  }

  .lg\:max-w-\[500px\] {
    max-width: 500px;
  }

  .lg\:max-w-\[600px\] {
    max-width: 600px;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:gap-\[80px\] {
    gap: 80px;
  }

  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:px-\[250px\] {
    padding-left: 250px;
    padding-right: 250px;
  }

  .lg\:px-\[40px\] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .lg\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lg\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-\[16px\] {
    font-size: 16px;
  }

  .lg\:text-\[20px\] {
    font-size: 20px;
  }

  .lg\:text-\[40px\] {
    font-size: 40px;
  }

  .lg\:text-\[58px\] {
    font-size: 58px;
  }

  .lg\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .lg\:text-\[24px\] {
    font-size: 24px;
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:leading-\[30px\] {
    line-height: 30px;
  }

  .lg\:leading-\[50px\] {
    line-height: 50px;
  }

  .lg\:leading-\[80px\] {
    line-height: 80px;
  }
}

